openapi: 3.0.0

info:
  title: Servicio de datos de Indicadores de Desarrollo Sostenible (ODS) de Eustat
  description: |
    Esta API proporciona acceso programático a los datos y metadatos de los
    indicadores de los Objetivos de Desarrollo Sostenible (ODS) publicados por Eustat
    mediante la plataforma Open SDG.

    El presente Swagger documenta exclusivamente los endpoints con salida en formato
    JSON, que son los más adecuados para su exploración interactiva.

    ## Descarga de datos en CSV y ZIP (fuera de Swagger)

    Además de los endpoints JSON documentados en este Swagger, los datos pueden
    descargarse directamente en formatos CSV y ZIP mediante URLs predecibles:

    ### CSV de un indicador (datos completamente desagregados)
    ```
    https://sdg.eustat.eus/sdg-data-prod/{lang}/data/{indicator}.csv
    ```
    Ejemplo:
    ```
    https://sdg.eustat.eus/sdg-data-prod/es/data/1-2-1.csv
    ```

    ### Descarga masiva de todos los indicadores (ZIP con CSV)
    ```
    https://sdg.eustat.eus/sdg-data-prod/{lang}/zip/all_indicators.zip
    ```
    Ejemplo:
    ```
    https://sdg.eustat.eus/sdg-data-prod/es/zip/all_indicators.zip
    ```
  version: 1.0.0

servers:
  - url: https://sdg.eustat.eus/sdg-data-prod
    description: Servidor de datos ODS de Eustat (Open SDG)

tags:
  - name: Indicadores ODS
    description: Acceso a datos JSON de indicadores
  - name: Metadatos y soporte
    description: Metadatos, estado de reporte y traducciones

paths:

  /{lang}/data/{indicator}.json:
    get:
      tags:
        - Indicadores ODS
      summary: Datos desagregados de un indicador (JSON)
      description: |
        Devuelve los datos completamente desagregados de un indicador ODS
        en formato JSON.

        Incluye todas las dimensiones y valores disponibles para el indicador.
      parameters:
        - name: lang
          in: path
          required: true
          description: Idioma de la respuesta
          schema:
            type: string
            enum: [es, eu, en]
        - name: indicator
          in: path
          required: true
          description: Código del indicador ODS (por ejemplo, 1-2-1)
          schema:
            type: string
      responses:
        '200':
          description: Datos JSON desagregados del indicador

  /{lang}/headline/{indicator}.json:
    get:
      tags:
        - Indicadores ODS
      summary: Datos agregados a nivel de la CAE (headline)
      description: |
        Devuelve los valores agregados principales (headline)
        de un indicador ODS a nivel de la Comunidad Autónoma de Euskadi,
        en formato JSON.
      parameters:
        - name: lang
          in: path
          required: true
          description: Idioma de la respuesta
          schema:
            type: string
            enum: [es, eu, en]
        - name: indicator
          in: path
          required: true
          description: Código del indicador ODS
          schema:
            type: string
      responses:
        '200':
          description: Datos agregados (headline) del indicador

  /{lang}/edges/{indicator}.json:
    get:
      tags:
        - Indicadores ODS
      summary: Relaciones entre desagregaciones (edges)
      description: |
        Devuelve las relaciones entre las distintas desagregaciones
        de un indicador ODS en formato JSON.

        Este endpoint describe cómo se relacionan las distintas
        dimensiones del indicador.
      parameters:
        - name: lang
          in: path
          required: true
          description: Idioma de la respuesta
          schema:
            type: string
            enum: [es, eu, en]
        - name: indicator
          in: path
          required: true
          description: Código del indicador ODS
          schema:
            type: string
      responses:
        '200':
          description: Datos de relaciones entre desagregaciones

  /{lang}/comb/{indicator}.json:
    get:
      tags:
        - Indicadores ODS
      summary: Datos combinados del indicador (data + edges)
      description: |
        Devuelve en un único JSON los datos completamente desagregados
        y las relaciones entre desagregaciones (edges) de un indicador ODS.
      parameters:
        - name: lang
          in: path
          required: true
          description: Idioma de la respuesta
          schema:
            type: string
            enum: [es, eu, en]
        - name: indicator
          in: path
          required: true
          description: Código del indicador ODS
          schema:
            type: string
      responses:
        '200':
          description: Datos combinados del indicador

  /{lang}/meta/{indicator}.json:
    get:
      tags:
        - Metadatos y soporte
      summary: Metadatos de un indicador ODS
      description: |
        Devuelve los metadatos completos de un indicador ODS en formato JSON,
        incluyendo definiciones, fuentes, metodología y observaciones.
      parameters:
        - name: lang
          in: path
          required: true
          description: Idioma de la respuesta
          schema:
            type: string
            enum: [es, eu, en]
        - name: indicator
          in: path
          required: true
          description: Código del indicador ODS
          schema:
            type: string
      responses:
        '200':
          description: Metadatos del indicador

  /{lang}/stats/reporting.json:
    get:
      tags:
        - Metadatos y soporte
      summary: Estado de reporte de los indicadores ODS
      description: |
        Devuelve información sobre el estado de reporte
        de los indicadores ODS.
      parameters:
        - name: lang
          in: path
          required: true
          description: Idioma de la respuesta
          schema:
            type: string
            enum: [es, eu, en]
      responses:
        '200':
          description: Estado de reporte de los indicadores

  /{lang}/translations/translations.json:
    get:
      tags:
        - Metadatos y soporte
      summary: Traducciones de la plataforma ODS
      description: |
        Devuelve todas las traducciones utilizadas
        en la plataforma Open SDG.
      parameters:
        - name: lang
          in: path
          required: true
          description: Idioma de la respuesta
          schema:
            type: string
            enum: [es, eu, en]
      responses:
        '200':
          description: Traducciones de la plataforma
