openapi: 3.0.0
info:
  title: Eustaten APIa
  description: >
    Eustaten APIak sarbide zuzena eta automatizatua ematen du Euskal AEko datu estatistiko ofizialetara.
    Informazio egituratua kontsultatzeko, filtratzeko eta deskargatzeko aukera ematen du, ondoren aztertu eta berrerabiltzeko.

    APIak bi datu-iturriren informazioa eskaintzen du:
      1) Eustaten datu-bankua (PX-Web motakoa)
      2) Garapen Jasangarriko Helburuen (GJH / ODS) adierazleen plataforma, Open SDG oinarritua

  version: 1.1.0

servers:
  - url: https://www.eustat.eus/bankupx/api/v1
    description: Eustaten datu-bankuko API zerbitzaria (PX-Web)
  - url: https://sdg.eustat.eus/sdg-data-prod
    description: Garapen Jasangarriko Helburuen (GJH) datuen API publikoa

paths:

  ###############################################
  # 1. Datu-bankua / Banco de datos
  ###############################################

  /{lang}/DB:
    get:
      tags:
        - Datu-bankua
      summary: Kontsultatu taulen katalogoa
      description: Datu-bankuko taulen katalogoa JSON formatuan itzultzen du.
      parameters:
        - name: lang
          in: path
          required: true
          description: Erantzunaren hizkuntza
          schema:
            type: string
            enum: [eu, es, en]
            default: eu
      responses:
        '200':
          description: Datuen katalogoa arazorik gabe lortu da
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: Taularen identifikatzailea
                    type:
                      type: string
                      description: Baliabide mota (t = taula)
                    text:
                      type: string
                      description: Datu multzoaren deskribapena
                    updated:
                      type: string
                      format: date-time
                      description: Azken eguneraketa data
              example:
                - id: "PX_010123_cepv3_lhc06.px"
                  type: "t"
                  text: "≥2 urteko biztanleria, etxeko hizkuntza eta adin-taldeka"
                  updated: "2024-04-12T08:15:45"

        '404':
          description: Katalogoa ez da aurkitu


  /{lang}/DB/{id}:
    get:
      tags:
        - Taulen metadatuak
      summary: Taula baten metadatuak lortu
      description: Taula espezifiko baten metadatuak JSON formatuan itzultzen ditu.
      parameters:
        - name: lang
          in: path
          required: true
          schema:
            type: string
            enum: [eu, es, en]
            default: eu
        - name: id
          in: path
          required: true
          description: Taularen identifikatzailea (adibidez PX_170115_ccet_cet01tb.px)
          schema:
            type: string
      responses:
        '200':
          description: Metadatuak arazorik gabe lortu dira
          content:
            application/json:
              schema:
                type: object
                properties:
                  title:
                    type: string
                  variables:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        text:
                          type: string
                        values:
                          type: array
                          items:
                            type: string
                        valueTexts:
                          type: array
                          items:
                            type: string
              example:
                title: "Biztanleria lurralde historikoaren eta sexuaren arabera"
                variables:
                  - code: "sexo"
                    text: "sexua"
                    values: ["10", "20"]
                    valueTexts: ["Guztira", "Emakumeak"]

        '404':
          description: Taula ez da aurkitu


    post:
      tags:
        - Taulen datuak
      summary: Taula batetik datuak lortu
      description: >
        POST kontsulta baten bidez datu-bankuko taula baten datuak JSON-stat formatuan lortzen dira.
        Taula osoa kontsulta daiteke query hutsa erabiliz: {"query": []}.

        Aldagaiak zehazteko gomendatzen da taularen hautaketa-interfazea erabiltzea:
        https://www.eustat.eus/bankupx/pxweb/{lang}/DB/-/{id}
      parameters:
        - name: lang
          in: path
          required: true
          schema:
            type: string
            enum: [eu, es, en]
            default: eu
        - name: id
          in: path
          required: true
          schema:
            type: string

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: array
                  items:
                    type: object
                    properties:
                      code:
                        type: string
                      selection:
                        type: object
                        properties:
                          filter:
                            type: string
                          values:
                            type: array
                            items:
                              type: string
                response:
                  type: object
                  properties:
                    format:
                      type: string
                      default: json-stat
              example:
                query:
                  - code: "sexo"
                    selection:
                      filter: "item"
                      values: ["10"]
                  - code: "periodo"
                    selection:
                      filter: "item"
                      values: ["2020", "2021"]
                response:
                  format: "json-stat"

      responses:
        '200':
          description: Datuak arazorik gabe lortu dira
          content:
            application/json:
              schema:
                type: object
              example:
                dataset:
                  label: "Biztanleria sexuaren eta aldiaren arabera"
                  dimension:
                    id: ["sex", "time"]
                    size: [1, 2]
                  value: [100, 150]

        '400':
          description: Eskaera baliogabea
        '404':
          description: Taula ez da aurkitu


  ##########################################################
  # 2. Garapen Jasangarriko Helburuak (GJH / SDG)
  ##########################################################

  /sdg/data/{lang}/data/{indicatorCode}.csv:
    get:
      tags:
        - GJH (SDG) — Adierazleen datuak
      summary: Adierazle baten datuak CSV formatuan lortu
      description: >
        GJH adierazle zehatz baten datu-fitxategia CSV formatuan itzultzen du.
        Datuak erabat bereizita eskaintzen dira.
      parameters:
        - name: lang
          in: path
          description: Hizkuntza (eu, es, en)
          required: true
          schema:
            type: string
            enum: [eu, es, en]
        - name: indicatorCode
          in: path
          description: Adierazlearen kodea (adib. 1-2-1)
          required: true
          schema:
            type: string
      responses:
        '200':
          description: CSV fitxategia zuzen lortu da
          content:
            text/csv:
              schema:
                type: string
              example: "Series,Value,Year\nTotal,15000,2023"

        '404':
          description: Adierazlea ez da aurkitu


  /sdg/data/{lang}/data/{indicatorCode}.json:
    get:
      tags:
        - GJH (SDG) — Adierazleen datuak
      summary: Adierazle baten datuak JSON formatuan lortu
      description: >
        GJH adierazle zehatz baten datuak JSON formatuan itzultzen ditu, metadatuak barne.
      parameters:
        - name: lang
          in: path
          required: true
          schema:
            type: string
            enum: [eu, es, en]
        - name: indicatorCode
          in: path
          required: true
          schema:
            type: string

      responses:
        '200':
          description: JSON datuak arazorik gabe lortu dira
          content:
            application/json:
              example:
                indicator: "1.2.1"
                series: "Income distribution"
                data:
                  - year: 2020
                    value: 14.1
                  - year: 2021
                    value: 13.7
        '404':
          description: Adierazlea ez da aurkitu


  /sdg/data/{lang}/zip/all_indicators.zip:
    get:
      tags:
        - GJH (SDG) — Deskarga masiboa
      summary: Adierazle guztien deskarga masiboa CSV formatuan
      description: CSV fitxategi guztiak ZIP formatuan deskargatzen ditu.
      parameters:
        - name: lang
          in: path
          required: true
          schema:
            type: string
            enum: [eu, es, en]
      responses:
        '200':
          description: ZIP fitxategia arazorik gabe deskargatu da
          content:
            application/zip:
              schema:
                type: string
              example: (ZIP fitxategia)
        '404':
          description: Ez da aurkitu eskura dagoen deskargarik
