openapi: 3.0.0
info:
  title: Eustaten APIa
  version: "1.1.0"
  description: >
    Eustaten APIak bi datu-iturriren sarbidea eskaintzen du:

      1) **Eustaten datu-bankua (PX-Web)**: taulen katalogoa, metadatuak eta datuak JSON-stat formatuan eskuratzeko.

      2) **GJH / SDG adierazleen plataforma (Open SDG)**: CSV, JSON eta ZIP formatuetan.

servers:
  - url: https://www.eustat.eus/bankupx/api/v1
    description: >
      **Eustaten datu-bankua (PX-Web)** — Taulak eta JSON-stat formatuan datu estatistikoak.
  - url: https://sdg.eustat.eus/sdg-data-prod
    description: >
      **GJH / SDG adierazleen API publikoa** — CSV, JSON eta ZIP formatuak.

tags:
  - name: Datu-bankua (PX-Web)
    description: Eustaten datu-bankuko taulen eta datuen APIa.
  - name: GJH / SDG – Adierazleak
    description: Garapen Jasangarriko Helburuen API publikoa.

paths:

  ###########################################
  # 1) Datu-bankua (PX-Web)
  ###########################################

  "/{lang}/DB":
    get:
      tags: ["Datu-bankua (PX-Web)"]
      summary: Taulen katalogoa eskuratu
      description: Datu-bankuan eskuragarri dauden taula guztien katalogoa JSON formatuan itzultzen du.
      parameters:
        - name: lang
          in: path
          required: true
          schema:
            type: string
            enum: [eu, es, en]
            default: eu
          description: Erantzunaren hizkuntza.
      responses:
        "200":
          description: Taulen katalogoa zuzen eskuratu da.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: Taularen identifikatzailea.
                    type:
                      type: string
                      description: Baliabide mota (t = taula).
                    text:
                      type: string
                      description: Taularen deskribapena.
                    updated:
                      type: string
                      format: date-time
                      description: Azken eguneraketa.
              example:
                - id: "PX_010123_cepv3_lhc06.px"
                  type: "t"
                  text: "≥2 urteko biztanleria etxeko hizkuntzaren arabera."
                  updated: "2024-04-12T08:15:45"
                - id: "PX_fepycl_pc02cm.px"
                  type: "t"
                  text: "KPIa lurraldearen eta hilaren arabera."
                  updated: "2021-02-16T11:15:00"
        "404":
          description: Katalogoa ez da aurkitu.

  "/{lang}/DB/{id}":
    get:
      tags: ["Datu-bankua (PX-Web)"]
      summary: Taula baten metadatuak
      description: Taula espezifiko baten metadatuak JSON formatuan itzultzen ditu.
      parameters:
        - name: lang
          in: path
          required: true
          schema: { type: string, enum: [eu, es, en], default: eu }
        - name: id
          in: path
          required: true
          description: Taularen identifikatzailea (.px)
          schema: { type: string }
      responses:
        "200":
          description: Metadatuak arazorik gabe eskuratu dira.
          content:
            application/json:
              schema:
                type: object
                properties:
                  title: { type: string }
                  variables:
                    type: array
                    items:
                      type: object
                      properties:
                        code: { type: string }
                        text: { type: string }
                        values:
                          type: array
                          items: { type: string }
                        valueTexts:
                          type: array
                          items: { type: string }
              example:
                title: "Biztanleria lurralde historikoaren eta sexuaren arabera"
                variables:
                  - code: "sexo"
                    text: "sexua"
                    values: ["10", "20"]
                    valueTexts: ["Guztira", "Emakumeak"]
                  - code: "periodo"
                    text: "aldia"
                    values: ["20010101", "20020101"]
                    valueTexts: ["2001/01/01", "2002/01/01"]
        "404":
          description: Taula ez da aurkitu.

    post:
      tags: ["Datu-bankua (PX-Web)"]
      summary: Taula bateko datuak eskuratu
      description: >
        POST eskaera baten bidez, taula baten datuak JSON-stat formatuan eskuratu.

        Taula osoa kontsulta daiteke query hutsa erabiliz:  
        **{ "query": [] }**

        Hautaketa-interfazea kontsultak sortzen laguntzen du:  
        https://www.eustat.eus/bankupx/pxweb/{lang}/DB/-/{id}
      parameters:
        - name: lang
          in: path
          required: true
          schema: { type: string, enum: [eu, es, en] }
        - name: id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: array
                  items:
                    type: object
                    properties:
                      code: { type: string }
                      selection:
                        type: object
                        properties:
                          filter: { type: string }
